@import "tailwindcss";
@keyframes scroll {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}
html {
    scroll-behavior: smooth;
}

.scroll-animation {
    display: flex;
    animation: scroll 10s linear infinite;
}

.scroll-container {
    overflow: hidden;
    width: 100%;
}

.scroll-content {
    display: flex;
    width: 200%;
}

.perspective {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 768px) {
    @keyframes scroll {
        0% {
            transform: translateX(20%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .scroll-animation {
        display: flex;
        animation: scroll 8s linear infinite;
    }
    .scroll-content {
        display: flex;
        width: 550%;
    }
}
